*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Links{
    padding: 30px;
    text-align: center;
}

.a-Links{
    margin: 80px;
    text-decoration: none;
    color: #001b4d;
}

.a-Links:hover{
    color: #1a6aff;
    font-size: 18px;
    text-decoration: underline;
}

hr{
    margin: 0 20%;
}

.Container{
    padding: 50px;
}

.Container a{
    text-decoration: none;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px; 
}

h3{
    margin-top: 70px;
}

.Box{
    background-color: #ccccff;
    border-radius: 8px;
    margin: 50px;
    text-align: center;
    color: black;
}

.Management{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.Management:hover{
    background-color: #b3b3ff;
    box-shadow: 5px 10px 18px #888888;
}

.Media{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.Media:hover{
    background-color: #b3b3ff;
    box-shadow: 5px 10px 18px #888888;
}

.English{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.English:hover{
    background-color: #b3b3ff;
    box-shadow: 5px 10px 18px #888888;
}

.Teacher{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.Teacher:hover{
    background-color: #b3b3ff;
    box-shadow: 5px 10px 18px #888888;
}

table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
    margin: 5px;
    font-size: 18px;
}

th{
    padding: 10px;
    background-color: #f2f2f2;
}

table{
    width: 100%;
}

td:hover{
    background-color: #737373 ;
    text-shadow:  0 0 3px #6699ff;
    box-shadow: 5px 10px 18px #888888;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */

  /* start page rules */

.image{
    display: inline;
    float: left;
    padding-top: -15px;
}
.nav-main{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    width:1100px;
    margin-left: 120px;
    text-align: center;
}
.nav-main ul {
list-style-type: none;
}
.navs {
    padding: 85px;
    margin-left: 30px;
    display: inline;
    text-align: center;
}
.navs a{
    color: rgb(92, 88, 88);
text-decoration: none;
font-size: 20px;
font-family: Lobster ;
}
a{
    color:rgb(26, 25, 25);
    text-decoration: none;
}
a:hover{
    color:rgb(150, 88, 88);
}
.div{
    /* background-color: #ccccff9d; */
    background-color: #c7cfb7;
    /* border-radius: 10px; */
    border-bottom-left-radius: 60px;
    border-top-right-radius: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 40px;
    text-align: center;
    color: black;
    text-size-adjust: 100px;
    line-height:50px;
}
.box-main{
    padding: 10px;
}
.rules1{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules2{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules3{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules4{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules5{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules6{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules7{
    height: 250px;
    width: 150px;
    margin-left: 200px;
    display: inline-block;
}
.rules8{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules9{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules10{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rules11{
    height: 250px;
    width: 150px;
    display: inline-block;
}
.rule{
    display:block;
border-radius: 10px;
border-color: rgb(55, 56, 56);
border-style: solid;
border-width: 1px;
line-height: 40px;
margin-top: 50px;
margin-left: 150px;
margin-right: 150px;
margin-bottom: 50px;
text-align: right;
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
background-color: #fcf8e8d5;
}
.right{
   margin-left:0px ; 
   margin-right: 10px;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}
.left{
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.hr1{
    color:darkslategray;
    margin-top: 5px;
}